[project]
	description = Github mirror of 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/qxn4466
[access "refs/for/refs/*"]
	read = group user/qxn4466
	push = group user/qxn4466
	label-Code-Review = -2..+2 group user/qxn4466
	label-Verified = -1..+1 group user/qxn4466
	rebase = group user/qxn4466
	removeReviewer = group user/qxn4466
	submit = group user/qxn4466
[access "refs/heads/*"]
	read = group user/qxn4466
	create = group user/qxn4466
	push = +force group user/qxn4466
	pushMerge = group user/qxn4466
[access "refs/tags/*"]
	push = group user/qxn4466
	push = +force group user/qxn4466
